/node_modules
/public/hot
/public/storage/*
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
package-lock.json
yarn.lock
.phpunit.result.cache
.php_cs.cache
.idea
/storage

#Ignore /public but not...
/public/themes/adminlte
/public/themes/flatly
/public/themes/imaginatheme
/public/modules
/public/assets

#Themes but not ImaginaTheme
/Themes/*
!/Themes/Adminlte
!/Themes/ImaginaTheme

#Modules but not Modules Icustom
#/Modules/*
#!Modules/Icustom

#node_modules in every folder
node_modules
