#content_show_commerce {

    @media screen and (max-width:768px) {
        padding-bottom: 80px;
    }

    @media screen and (max-width:425px) {
        padding-bottom: 50px;
    }

    .image img {
        height: 370px;
        object-fit: cover;
        border-radius: 25px;
    }

    .owl-carousel .owl-item img {
        border-radius: 25px;
    }

    .summary {
        font-size: 14px;
        text-align: justify;
        color: #333;
        margin-bottom: 20px;
    }

    a {
        font-size: 14px;
        color: #333;
    }

    h4 {
        margin-bottom: 25px !important;
        color: $primary;
        font-size: 18px;
    }

    h5 {
        margin-bottom: 16px !important;
        font-weight: 700 !important;
        color: #333;
    }

    h3 {
        font-size: 30px !important;
        font-weight: 400 !important;
        color: #333333;
        text-align: left;
        margin-bottom: 28px;
        border-left: 4px solid $primary;
        padding-left: 10px;
        border-bottom: 4px solid transparent;

        @media screen and (max-width: 425px) {
            border-bottom: 4px solid $primary;
            border-left: 4px solid transparent;
            text-align: center;
        }
    }

    .informacion {
        span {
            font-size: 16px;
            color: #373350;
        }

        .buttons {
            padding-top: 35px;
            padding-bottom: 15px;
        }

        .add-secondary {
            background: $primary;
            color: #fff !important;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            width: 208px;
            border: none !important;
            border-radius: 5px;

            i {
                font-size: 30px;
            }
        }

        .add-primary {
            background: #dbdbdb;
            color: #333 !important;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            width: 65px;
            border-radius: 5px;
            border: none !important;
        }

        .number-input {
            background: #dbdbdb;
            width: 115px;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 15px;
            color: #878787;
            border-radius: 5px;

            button {
                outline: none;
                font-weight: 400;
                font-size: 12px;
                display: flex;
                padding: 0px;
                -webkit-appearance: none;
                background: transparent;
                border: none;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0;
                position: relative;
                color: #333;
                width: 20px;
                height: 20px;
                padding: 5px;

                i {
                    font-size: 10px !important;
                    color: #333 !important;
                }
            }


            input {
                font-size: 13px;
                color: #999;
                background: transparent;
                max-height: 16px;
                border: none;
                text-align: center;
                border-left: 1px solid #b1b1b1;
                border-right: 1px solid #b1b1b1;
                padding: 0px;

            }
        }

        .title {
            display: block;
            margin-bottom: 20px;
            font-size: 35px;
            color: #333;
            font-weight: 700 !important;
        }

        .price strong {
            font-size: 26px;
            color: $primary;
            font-weight: 700;
            color: $primary;
            margin-bottom: 0px;

        }
    }

    .nav-link {
        padding: 20px 0px;
        margin-right: 40px;
        font-size: 27px;
        color: #373350;
    }

    .nav-tabs {
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 15px;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: $primary;
        border: none;
        border-bottom: 4px solid $primary;
        background-color: #fff;
        margin-bottom: -2px;
    }

    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
        border: none;
        color: $primary;
        border: none;
        border-bottom: 4px solid $primary;
        background-color: #fff;
        margin-bottom: -2px;
    }

    .social {
        color: #333;
        text-align: 14px;

        a {
            color: #333;

            i {
                font-size: 20px;
            }
        }
    }

}