

header{
  .container-fluid{
    background-color: $primary;
  }
  .btn-primary{
    background-color: white;
    color: $primary;
  }
  .border-primary {
      border-color: #D9D9D9 !important;
  }
  }







