#idocsCategoryList1{
  .head{
    margin-right: 0px;
    margin-left: 0px;
    .title-description, .size, .downloaded, .download{
      padding: 15px;
    }
    .title-description, .size, .downloaded{
  
    }
    .size, .downloaded, .download{
      
      text-align: center;
    }
  }
  
  .document{
    margin-right: 15px;
    margin-left: 15px;
    
    .item{
      width: 100%;
    }
  }
  
}